body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Changed to min-height */
    background-color: #F8C8DC;
    margin: 0;
}

#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
}

#yesButton {
    position: absolute;
    margin-right: 150px;
}

.header_text {
    font-family: 'Nunito';
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.btn {
    background-color: #FFB6C1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif_container img {
    max-width: 100%; /* Ensures image is not wider than its container */
    height: auto; /* Maintain aspect ratio */
}

/* Adjustments for very small screens (320px width) */
@media only screen and (max-width: 320px) {
    .header_text {
        font-size: 18px; /* Further reduce if needed */
        margin: 10px 0; /* Adjust top and bottom margin */
    }

    .gif_container img {
        max-height: 50vh; /* Reduce image height */
    }

    .btn {
        padding: 12px 24px; /* Adjust button size */
        font-size: 14px; /* Adjust font size */
    }
}

/* Adjustments for slightly larger screens (414px width) */
@media only screen and (max-width: 414px) {
    .header_text {
        font-size: 24px; /* Adjust font size */
        margin: 10px 0; /* Adjust margins */
    }

    .gif_container img {
        max-height: 55vh; /* Slightly larger image for larger screens */
    }

    .btn {
        padding: 15px 30px; /* Adjust button size */
        font-size: 16px; /* Adjust font size */
    }
}
